{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 120,
  "arrowParens": "avoid",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-tailwind-styled-components"
  ],
  "tailwindFunctions": ["tw"],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/pages/(.*)$",
    "^@/components/(.*)$",
    "",
    "^@/hooks/(.*)$",
    "^@/data/(.*)$",
    "^@/utils/(.*)$",
    "",
    "^@/constants/(.*)$",
    "<TYPES>",
    "",
    "^@/public/(.*)$",
    "^.*[.]png$|^.*[.]jpg$|^.*[.]jpeg$|^.*[.]gif$|^.*[.]svg$|^.*[.]webp$|^.*[.]json$|^.*[.]txt$|^.*[.]md$|^.*[.]eot$|^.*[.]ttf$|^.*[.]woff$|^.*[.]woff2$",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0",
  "importOrderCaseSensitive": false
}
