@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

@layer base {
  @font-face {
    font-family: 'Bagel Fat One Regular';
    src: url('../public/fonts/BagelFatOne-Regular.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'MADE Outer Sans Regular';
    src: url('../public/fonts/outer-sans-regular.otf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Cedarville Cursive';
    src: url('../public/fonts/cedarville-cursive.ttf');
    font-display: swap;
  }

  .font-outline {
    -webkit-text-stroke: 2px white;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

u:hover {
  color: #ff5858;
}

.slick-slide {
  width: max-content !important;
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

.chevron {
  width: 14px;
  height: 4px;
  opacity: 0;
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation-delay: 1s;
}

.chevron:nth-child(2) {
  animation-delay: 2s;
}

.chevron:before,
.chevron:after {
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 0.4;
  }
  33% {
    opacity: 0.4;
    transform: translateY(30px);
  }
  67% {
    opacity: 0.4;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

a:focus {
  outline: none;
}

img {
  pointer-events: none;
}

a,
img,
button,
input,
label,
span {
  -webkit-tap-highlight-color: transparent;
}
