@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

@layer base {
    @font-face {
        font-family: "MADE Outer Sans Bold";
        src: url('../public/fonts/outer-sans-bold.otf');
    }
    @font-face {
        font-family: "MADE Outer Sans Light";
        src: url('../public/fonts/outer-sans-light.otf');
    }
    @font-face {
        font-family: "MADE Outer Sans Medium";
        src: url('../public/fonts/outer-sans-medium.otf');
    }
    @font-face {
        font-family: "MADE Outer Sans Regular";
        src: url('../public/fonts/outer-sans-regular.otf');
    }
    @font-face {
        font-family: "Cedarville Cursive";
        src: url('../public/fonts/cedarville-cursive.ttf');
    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slick-slide {
  width: max-content !important;
}

html {
  scroll-behavior: smooth;
}

.chevron {
  width: 14px;
  height: 4px;
  opacity: 0;
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation-delay: 1s;
}

.chevron:nth-child(2) {
  animation-delay: 2s;
}

.chevron:before,
.chevron:after {
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 0.4;
  }
  33% {
    opacity: 0.4;
    transform: translateY(30px);
  }
  67% {
    opacity: 0.4;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}